<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="gdpr" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>GDPR</label>
            <tab>deloitte</tab>
            <resource>Deloitte_Gdpr::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable the GDPR module to allow visitors to manage cookie preferences.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
